<div class="gallery">
  <div class="gallery__grid">
    <div class="gallery__grid__cell">
      <img src="assets/1.png" alt="first fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/2.png" alt="second fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/3.png" alt="third fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/4.png" alt="fourth fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/5.png" alt="fifth fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/6.png" alt="sixth fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/7.png" alt="seventh fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/8.png" alt="eighth fractal image" class="gallery__image">
    </div>
    <div class="gallery__grid__cell">
      <img src="assets/9.png" alt="ninth fractal image" class="gallery__image">
    </div>
  </div>
</div>
